        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">ONTARIO DRIVE TEST</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <% if(loggIn) { %>
                            <% if(utype=="Driver") { %>
                        <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/G2">G2</a></li>
                        <li class="nav-item"><a class="nav-link" href="/G">G</a></li>
                        <li class="nav-item"><a class="nav-link" href="/driverExamResult">Exam Result</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
                        <% if(utype=="Admin") { %>
                            <li class="nav-item"><a class="nav-link" href="/appointment">Appointment</a></li>
                            <li class="nav-item"><a class="nav-link" href="/adminReview">Test Review</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>

                        <% if(utype == "Examiner") { %>
                            <li class="nav-item"><a class="nav-link" href="/examiner">Examiner</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <% } %>
                         
                        <% } %>
                        <% if(!loggIn) { %>
                            <li class="nav-item"><a class="nav-link" href="/Login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">SignUp</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
